.header{
    padding: 40px 0;
    @include media(992){
        padding: 15px 0 40px 0;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        z-index: 10;
        span{
            color: #F25822;
        }
        img{
            margin-right: 15px;
        }
    }
        &__content{
            display: flex;
            align-items: center;
            column-gap: 35px;
            @include media(992){
                position: fixed;
                top: -30px;
                bottom: 0;
                right: 0;
                flex-direction: column;
                align-items: center;
                row-gap: 24px;
                background: #fff;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
                justify-content: center;
                width: 100%;
                opacity: 0;
                visibility: hidden;
                transition: 300ms ease;
                z-index: 9;
            }
            &.active{
                opacity: 1;
                visibility: visible;
                top: 0;
            }
    }
    &__list{
        display: flex;
        align-items: center;
        column-gap: 30px;
        @include media(992){
            flex-direction: column;
            row-gap: 24px;
        }
    }
    &__link{
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: rgba(0, 0, 0, 1);
        transition: 300ms ease;
        &.active, &:hover{
            color: #F25822;
        }
    }
    .dropdown{
        position: relative;
        .dropbtn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 3px;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: rgba(0, 0, 0, 1);
            transition: 300ms ease;
            &:hover, &.active{
                color: #F25822;
                svg{
                    path{
                        stroke: #F25822;
                    }
                }
            }
            svg{
                transition: 300ms ease;
                path{
                    stroke: #000;
                    transition: 300ms ease;
                }
            }
        }
        &-content{
            position: absolute;
            top: 100%;
            background: #fff;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            margin-top: 10px;
            width: max-content;
            opacity: 0;
            visibility: hidden;
            transition: 300ms ease;
            left: 50%;
            transform: translateX(-50%);
            z-index: 99;
            &.active{
                opacity: 1;
                visibility: visible;
                & ~ .dropbtn{
                    color: #F25822;
                    svg{
                        transform: rotate(180deg);
                        path{
                            stroke: #F25822;
                        }
                    }
                }
            }
            a{
                padding: 10px 20px;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #1f1f1f;
                transition: 300ms ease;
                &:nth-of-type(1){
                    border-radius: 12px 12px 0 0;
                }
                &:nth-of-type(3){
                    border-radius: 0 0 12px 12px;
                }
                &:hover{
                    background: #F25822;
                    color: #fff;
                }
            }
        }
    }
    &__btn{
        width: 120px;
        height: 40px !important;
    }
    .menu{
        width: 30px;
        height: 20px;
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 10;
        @include media(992){
            display: flex;
        }
        &-btn{
            width: 100%;
            display: block;
            height: 3px;
            background: #F25822;
            border-radius: 3px;
            transition: 300ms ease;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #F25822;
            border-radius: 3px;
            top: 0;
            transition: 300ms ease;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #F25822;
            border-radius: 3px;
            bottom: 0;
            transition: 300ms ease;
        }
        &.active{
            .menu-btn{
                display: none;
            }
            &::before{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            &::after{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
}