.header{
    padding: 40px 0;
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        span{
            color: #F25822;
        }
        img{
            margin-right: 15px;
        }
    }
    &__content{
        display: flex;
        align-items: center;
        column-gap: 35px;
    }
    &__list{
        display: flex;
        align-items: center;
        column-gap: 30px;
    }
    &__link{
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: rgba(0, 0, 0, 1);
        transition: 300ms ease;
        &.active, &:hover{
            color: #F25822;
        }
    }
    .dropdown{
        position: relative;
        .dropbtn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 3px;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: rgba(0, 0, 0, 1);
            transition: 300ms ease;
            &:hover, &.active{
                color: #F25822;
                svg{
                    path{
                        stroke: #F25822;
                    }
                }
            }
            svg{
                transition: 300ms ease;
                path{
                    stroke: #000;
                    transition: 300ms ease;
                }
            }
        }
        &-content{
            position: absolute;
            top: 100%;
            background: #fff;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            margin-top: 10px;
            width: max-content;
            opacity: 0;
            visibility: hidden;
            transition: 300ms ease;
            left: 50%;
            transform: translateX(-50%);
            &.active{
                opacity: 1;
                visibility: visible;
                & ~ .dropbtn{
                    color: #F25822;
                    svg{
                        transform: rotate(180deg);
                        path{
                            stroke: #F25822;
                        }
                    }
                }
            }
            a{
                padding: 10px 20px;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #1f1f1f;
                transition: 300ms ease;
                &:nth-of-type(1){
                    border-radius: 12px 12px 0 0;
                }
                &:nth-of-type(3){
                    border-radius: 0 0 12px 12px;
                }
                &:hover{
                    background: #F25822;
                    color: #fff;
                }
            }
        }
    }
    &__btn{
        width: 120px;
        height: 40px !important;
    }
}