mixin header()
    header.header
        nav.header__nav.container 
            a(href="index.html").logo
                img(src="@img/logo.svg", alt="" draggable="false" loading="lazy")
                | GrowBe
            .header__content 
                ul.header__list 
                    li.header__li 
                        a(href="#!").header__link Home
                        a(href="#!").header__link About Us
                        a(href="#!").header__link Services 
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                        .dropdown
                            button(type="button" onclick="myFunction()").dropbtn Features 
                            .dropdown-content#myDropdown 
                                a(href="#!") Digital marketing 
                                a(href="#!") Seo optimization 
                                a(href="#!") Web development
                        a(href="#!").header__link Team
                        a(href="#!").header__link Blog
                        a(href="#!").header__link Contact
                a(href="#!").header__btn.btn Get Started 