mixin intro()
    section.section.intro 
        .intro__body.container 
            .intro__content 
                h1.intro__title SEO & Digital #[span Marketing] For Your Website.
                p.intro__p Provide all kind of seo services and help to improve seo ranking. Globally incubate standards.
                .intro__btns 
                    a(href="#!").intro__btn.btn Start Now   
                    a(href="#!").intro__button 
                        img(src="@img/intro-video-icon.svg", alt="" draggable="false" loading="lazy")
                        | Watch Video  
            .intro__img 
                img(src="@img/intro-img.png", alt="" draggable="false" loading="lazy")