mixin medias()
    .section.section.medias 
        .medias__body.container 
            a(href="#!").medias__img 
                img(src="@img/media-1.png", alt="" draggable="false" loading="lazy")
            a(href="#!").medias__img 
                img(src="@img/media-2.png", alt="" draggable="false" loading="lazy")
            a(href="#!").medias__img 
                img(src="@img/media-3.png", alt="" draggable="false" loading="lazy")
            a(href="#!").medias__img 
                img(src="@img/media-4.png", alt="" draggable="false" loading="lazy")
            a(href="#!").medias__img 
                img(src="@img/media-5.png", alt="" draggable="false" loading="lazy")
            a(href="#!").medias__img 
                img(src="@img/media-6.png", alt="" draggable="false" loading="lazy")