mixin possibilities()
    section.section.possibilities
        .possibilities__body.container
            .possibilities__img 
                img(src="@img/possibilities-img.png", alt="" draggable="false" loading="lazy")
            .possibilities__right 
                h2.possibilities__title.title You may ask what SEO & why do you need it?
                p.possibilities__desc Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary.
                .possibilities__content 
                    .possibilities__item 
                        .possibilities__item-img 
                            img(src="@img/possibilities-img-1.png", alt="" draggable="false" loading="lazy")
                        .possibilities__item-content 
                            p.possibilities__subtitle Social Media Marketing
                            p.possibilities__p Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.
                    .possibilities__item.active 
                        .possibilities__item-img 
                            img(src="@img/possibilities-img-2.png", alt="" draggable="false" loading="lazy")
                        .possibilities__item-content 
                            p.possibilities__subtitle Email Marketing
                            p.possibilities__p Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.
                    .possibilities__item 
                        .possibilities__item-img 
                            img(src="@img/possibilities-img-3.png", alt="" draggable="false" loading="lazy")
                        .possibilities__item-content 
                            p.possibilities__subtitle SEO Optimization
                            p.possibilities__p Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.