mixin solution()
    section.section.solution 
        .solution__body.container 
            .solution__content  
                h2.solution__title.title Perfect Solution For Your Business
                p.solution__p Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for chang the Seamlessly underwhelm optimal testing procedures.
                a(href="#!").solution__btn.btn Learn More
            .solution__img 
                img(src="@img/solution-img.png", alt="" draggable="false" loading="lazy")