mixin why()
    section.section.why 
        .why__body.container 
            h2.why__title.title Why You Should Choose Us.
            p.why__desc Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts.
            .why__content 
                .why__item
                    .why__img 
                        img(src="@img/why-img-1.png", alt="" draggable="false" loading="lazy")
                    .why__item-content
                        p.why__subtitle Keyword Research
                        p.why__p Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.
                        a(href="#!").why__btn.btn Learn More 
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                .why__item
                    .why__img 
                        img(src="@img/why-img-2.png", alt="" draggable="false" loading="lazy")
                    .why__item-content
                        p.why__subtitle Seo Optimazadion
                        p.why__p Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.
                        a(href="#!").why__btn.btn Learn More 
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                .why__item
                    .why__img 
                        img(src="@img/why-img-3.png", alt="" draggable="false" loading="lazy")
                    .why__item-content
                        p.why__subtitle Social Marketing
                        p.why__p Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.
                        a(href="#!").why__btn.btn Learn More 
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>