// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: Gilroy;
    &:focus,
    &:active{
        outline: none;
    }
}
body{
    &.hidden{
        overflow: hidden;
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
.btn{
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
    background: #F25822;
    border-radius: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease;
    @include media(992){
        height: 40px;
    }
    &:hover{
        background: lighten($color: #F25822, $amount: 5);
    }
}
.title{
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    @include media(768){
        font-size: 32px;
        line-height: 38px;
    }
}